body{
    font-family: Arial,Tahoma;
    font-size: 0.9em;
}
header, footer{
    background: black;
    color: white;
    padding: 10px;
}
section{
    background: gray;
    padding: 10px;
}
article{
    background: white;
    padding: 10px;
    margin: 5px;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 5px;
}